body {
    background: #181818;
}

.main_features,
.main_contents,
.main_gallery,
.main_partners,
.main_testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.main_title,
.main_subtitle {
    font-family: RobotoL, sans-serif;
    margin-bottom: 0;
}

.main_title {
    font-size: 52px;
    margin-top: 162px;
}

.main_subtitle {
    width: 40%;
    text-align: center;
    font-size: 20px;
    margin-top: 27px;
}

.main_image {
    display: flex;
    margin-top: 80px;
}

.main_image ul {
    padding: 0;
    margin-top: 54px;
}

.main_image ul li {
    list-style-type: none;
    margin-top: 35px;
}

.main_image-title {
    display: flex;
    align-items: center;
    font-family: RobotoM, sans-serif;
    font-size: 20px;
}

.main_image-title img {
    margin-right: 13px;
}

.main_image-subtitle {
    margin-top: 20px;
    width: 270px;
    font-family: RobotoL;
    font-size: 16px;
}

/* Contents */

.main_contents-cards {
    margin-top: 44px;
    display: flex;
    justify-content: center;
}

.main_contents-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 10px;
    height: 500px;
    padding: 40px 35px;
}

.main_contents-card h1 {
    margin: 0;
    font-family: RobotoM, sans-serif;
    font-size: 20px;
    text-align: center;
    color: black;
}

.main_contents-card h5 {
    margin: 0;
    margin-top: 30px;
    font-family: RobotoL;
    font-size: 16px;
    color: #5c5c5c;
    text-align: center;
    width: 268px;
}

.first_card {
    margin-right: 33px;
}

/* Gallery */
.main_first-row,
.main_second-row {
    display: flex;
    justify-content: center;
    margin-top: 44px;
}

.main_gallery img {
    margin-right: 33px;
    border-radius: 12px;
}

.main_gallery button {
    margin-top: 44px;
}

/* Partners */

.partners_images {
    margin-left: 74px;
}

.partners_images img {
    margin-top: 50px;
    margin-right: 74px;
    margin-bottom: 50px;
}

/* Testimonials */

.testimonials {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 650px;
    margin-left: 23px;
}

.testimonials_card {
    border: 1px solid #dedede;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 20px;
    margin-right: 23px;
}

.testimonials_title {
    display: flex;
}

.testimonials_name {
    display: flex;
    flex-direction: column;
    margin-left: 13px;
    font-family: RobotoM, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.testimonials_content {
    width: 320px;
    font-family: RobotoL, sans-serif;
    font-size: 16px;
    margin-top: 30px;
}