/* Footer */
.footer {
    margin-top: 150px;
    padding-top: 107px;
    padding-bottom: 107px;
    display: flex;
    justify-content: center;
}

.footer_links {
    display: flex;
    margin-right: 199px;
}

.links {
    display: flex;
    flex-direction: column;
    margin-right: 75px;
}

.links p {
    font-family: RobotoM, sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
    color: white;
    margin-top: 0;
}

.links a {
    text-decoration: none;
    color: white;
    font-family: RobotoM, sans-serif;
    margin-bottom: 19px;
}

.footer_map,
.footer_phone {
    font-family: RobotoM, sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: white;
}

.footer_map img,
.footer_phone img {
    margin-right: 15px;
}

.footer_phone {
    margin-top: 10px;
}

.footer_image {
    margin-top: 30px;
}

.footer_image a {
    text-decoration: none;
    margin-right: 24px;
}