body {
    margin: 0;
}

.header {
    background: #181818;
}

.header_main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.header_nav {
    margin-left: 120px;
    margin-right: 149px;
}

.header_nav a {
    font-family: RobotoM, sans-serif;
    color: white;
    text-decoration: none;
    margin-right: 31px;
}

.header_nav a:hover {
    color: gray;
}


.header_texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.header_texts-title,
.header_texts-subtitle {
    color: white;
    margin: 0;
    width: 45%;
    text-align: center;
}

.header_texts-title {
    font-family: RobotoM, sans-serif;
    font-size: 80px;
}

.header_texts-subtitle {
    font-family: RobotoL, sans-serif;
    font-size: 20px;
    margin-top: 17px;
}

.header_buttons {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.header_button-first {
    margin-right: 35px;
}

.header_image {
    display: flex;
    justify-content: center;
    background: linear-gradient(#181818, black);
    margin-top: 35px;
}